@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(75, 240, 255),rgb(137, 59, 255));
    overflow: hidden;
}
.mainContent{
    display: none;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading .mainheading{
    font-family: Lobster;
    font-size: 7em;
    text-align: center;
    text-shadow: 2px 2px 5px #222;
}
.heading .info{
    text-align: center;
    width: 80%;
    color: #fff;
    font-size: 22px;
    font-family: monospace;
    margin-top: 15px;
}

.addBox{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addBox p{
    background-color: rgb(58, 255, 193);
    padding-right:20px;
    font-size: 28px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-family: monospace;
    border-radius: 50px;
    cursor: pointer;
}
.addBox p ion-icon{
    font-size: 2em;
    color: #fff;
     margin: 20px;
     transition:0.5s;
}
.addBox p ion-icon.active{
    transform: rotateZ(180deg);
}

nav{
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.557);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    margin-right: 35px;
    font-size: 22px;
    color: #fff;
    font-family: monospace;
    text-transform: capitalize;
}
nav ul li a::after{
    position: absolute;
    content:'';
    bottom:-2px;
    left:0px;
    width: 0%;
    height:3px;
    background-color: rgb(255, 0, 119);
    border-radius: 25px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.mainContent.active{
    display: block;
}

.about{
    position: relative;
    height: 80vh;
    width: 100%;
    display: none;
}
.about .box{
    position: absolute;
    padding: 20px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.635);
}
.about .box h1{
    font-family: monospace;
    font-size: 3em;
    text-align: center;
    color: rgb(234, 0, 255);
}
.about .box p{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: monospace;
    margin-top: 20px;
    text-align: center;
}
.about.active{
    display: block;
}


.profilePage{
    display: none;
}

.profilePage.active{
    display: block;
}